#logo{
    height: 3rem;
    width: 3rem;
  color: var(--theme-color);
  

}

// Define custom font variables


// Apply styles to the Logo component
text{
  font-family:'Courier New', Courier, monospace
}